/*~~~~~~DISEÑO DISPOSITIVO MOVIL~~~~~~~~~~*/
@media (max-width: 500px) {
    .bodyPrin {
        .mainPrincipal{
            .quienesSomos{
                padding: 3%;
                margin: 3%;
                .imagen{
                    width: 100%;
                    h2{
                        top: 18%;
                        right: 20%;
                        rotate: 350deg;
                        font-weight: 100;
                        font-size: 30px;
                    }
                    img{
                        width: 100%;
                        border-radius: 3%;
                        margin-bottom: 2em;
                    }
                }
                .presentacion{
                    padding: 0 3% 5% 3%;
                    h2{
                        margin-bottom: 1em;
                    }
                }
            }
            .categorias{
                margin:10% 3%;
                padding:3%;
                .tarjeta{
                    img{
                        width: 96%;
                        margin-left: 2%;
                    }
                }
            }
        }
    }
  }

  /*~~~~~~~~~~~~~~~~~~~~DETAIL~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.bodyDet{
    .productMain{
      .producto{
        padding: 5% 3% 10% 3%;
        margin: 3%;
        .imgMuestra{
          img{
            width: 95%;
            margin: 2% 2% 10% 2%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        }
        .precio{
          h2{
            margin-top: 5%;
          }
          .añadir{
            padding: 5%;
            border-radius: 5%;
            margin-top: 5%;
          }
        }
      }
      .derecha{
        padding: 5% 3% 10% 3%;
        margin: 3%;
      }
    }
  }


  /*~~~~~~~~~~~~~~~~~~~~CARRITO~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.bodyCart{
  .cartMain{
    padding: 5% 3% 10% 3%;
    margin: 3%;
    .añadidos{
      .tarjetas{
        margin-top: 3%;
        padding: 3%;
        align-items: center;
        gap: 5%;
        padding-right: 10%;
        .eliminar{
          padding-left: 5%;
          img{
            width: 20px;
          }
        }
        img{
          width: 30%;
        }
      }
      h3{
        margin-top: 5%;
      }
    }
  }
}

  


  /*~~~~~~MOVIL GENERAL~~~~~~~~~~*/
.bodyGen{
    background-image: url(imagenes/fondo.jpg);
    .headerGen{
        height: 60px;

        .nombre{
            width: 150px;
        }
        .logo{
            width: 30%;
            height: 60%;
        }
        ul{
            display: none;
          }
    }
    footer{
        padding: 3%;
        .footIzq{
          img{
            width: 20%;
            height: 90%;
          }
        }
        .footDer{
          img{
            width: 20%;
          }
        }
        .footIzq, .footDer{
          display: flex;
          align-items: center;
          ul{
            display: flex;
            gap: 10%;
          }
        }
      }
}



/*~~~~~~DISEÑO DISPOSITIVO TABLETA~~~~~~~~~~*/
@media (min-width: 500px) {
    .bPrincipal {
        background-image: url(imagenes/fondo2.jpg);
        .hPrincipal{
            .nombre{
                width: 250px;
            }
        }
    }
  }




/*~~~~~~DISEÑO DISPOSITIVO DESKTOP~~~~~~~~~~*/
